body {
  margin: 0;
}

#app {
  /*background-color: rgba(0, 145, 171, 0.1);*/
  padding: 25px 0;
}

.reset-button {
  background-color: #fff;
  border: 1px solid;
  cursor: pointer;
  box-shadow: 0 0 1em deepskyblue;
  font-size: 17px;
}

.playground,
.game-state,
.score {
  display: inline-block;
}

.game-state,
.score {
  text-align: center;
  vertical-align: top;
  width: 30%;
}

.playground {
  border: 1px solid #1b9e3d;
  table-layout: fixed;
  border-spacing: 0;
}

.playground .pg-cell {
  background-color: #afa;
  width: 40px;
  height: 40px;
  overflow: hidden;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  transition: all .1s ease-in-out;
}

.playground .pg-cell.body {
  background-color: #cc4949;
}

.playground .pg-cell.head {
  background-color: #ff7171;
}

.playground .pg-cell.food {
  background-color: #ffa700;
  transition: all .2s cubic-bezier(0.4, 0, 1, 1);
}
