#app {
  text-align: center;
}

.playground {
  border: 1px solid #1b9e3d;
  table-layout: fixed;
  border-spacing: 0;
  margin: 0 auto;
}

.playground .pg-cell {
  background-color: #afa;
  width: 40px;
  height: 40px;
  overflow: hidden;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
}

.playground .pg-cell.snake {
  background-color: #3ac;
}

.playground .pg-cell.body {
  background-color: #000;
}

.playground .pg-cell.head {
  background-color: blue;
}

.playground .pg-cell.food {
  background-color: red;
}
